@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,700');

.input,.inputW{
    padding-left: 22px;
    box-sizing: border-box;
    background: none;
    width: 487px;
    height: 65px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.inputW{
    width: 234px;
}
.inputBlock{
    margin-bottom: 20px;
}
.error{
    display: none;

}
.errorBlock{
    /*margin-top:8px;*/
    color: #f2d422;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    display: block;
    font-family: 'Raleway', sans-serif;
}
.select{
    position: relative;
}
.errorBlockS{
    bottom: 8px;
    color: #f2d422;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    display: block;
    font-family: 'Raleway', sans-serif;
}